@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix,
.clear {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.clear:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-left: 0px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="grid"] {
  float: left;
  margin-left: 0px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 960px;
}
.grid12 {
  width: 960px;
}
.grid11 {
  width: 880px;
}
.grid10 {
  width: 800px;
}
.grid9 {
  width: 720px;
}
.grid8 {
  width: 640px;
}
.grid7 {
  width: 560px;
}
.grid6 {
  width: 480px;
}
.grid5 {
  width: 400px;
}
.grid4 {
  width: 320px;
}
.grid3 {
  width: 240px;
}
.grid2 {
  width: 160px;
}
.grid1 {
  width: 80px;
}
.offset12 {
  margin-left: 960px;
}
html[dir='rtl'] .offset12 {
  margin-right: 960px;
  margin-left: 0;
}
.offset11 {
  margin-left: 880px;
}
html[dir='rtl'] .offset11 {
  margin-right: 880px;
  margin-left: 0;
}
.offset10 {
  margin-left: 800px;
}
html[dir='rtl'] .offset10 {
  margin-right: 800px;
  margin-left: 0;
}
.offset9 {
  margin-left: 720px;
}
html[dir='rtl'] .offset9 {
  margin-right: 720px;
  margin-left: 0;
}
.offset8 {
  margin-left: 640px;
}
html[dir='rtl'] .offset8 {
  margin-right: 640px;
  margin-left: 0;
}
.offset7 {
  margin-left: 560px;
}
html[dir='rtl'] .offset7 {
  margin-right: 560px;
  margin-left: 0;
}
.offset6 {
  margin-left: 480px;
}
html[dir='rtl'] .offset6 {
  margin-right: 480px;
  margin-left: 0;
}
.offset5 {
  margin-left: 400px;
}
html[dir='rtl'] .offset5 {
  margin-right: 400px;
  margin-left: 0;
}
.offset4 {
  margin-left: 320px;
}
html[dir='rtl'] .offset4 {
  margin-right: 320px;
  margin-left: 0;
}
.offset3 {
  margin-left: 240px;
}
html[dir='rtl'] .offset3 {
  margin-right: 240px;
  margin-left: 0;
}
.offset2 {
  margin-left: 160px;
}
html[dir='rtl'] .offset2 {
  margin-right: 160px;
  margin-left: 0;
}
.offset1 {
  margin-left: 80px;
}
html[dir='rtl'] .offset1 {
  margin-right: 80px;
  margin-left: 0;
}
.inset12 {
  margin-left: -960px;
}
html[dir='rtl'] .inset12 {
  margin-right: -960px;
  margin-left: 0;
}
.inset11 {
  margin-left: -880px;
}
html[dir='rtl'] .inset11 {
  margin-right: -880px;
  margin-left: 0;
}
.inset10 {
  margin-left: -800px;
}
html[dir='rtl'] .inset10 {
  margin-right: -800px;
  margin-left: 0;
}
.inset9 {
  margin-left: -720px;
}
html[dir='rtl'] .inset9 {
  margin-right: -720px;
  margin-left: 0;
}
.inset8 {
  margin-left: -640px;
}
html[dir='rtl'] .inset8 {
  margin-right: -640px;
  margin-left: 0;
}
.inset7 {
  margin-left: -560px;
}
html[dir='rtl'] .inset7 {
  margin-right: -560px;
  margin-left: 0;
}
.inset6 {
  margin-left: -480px;
}
html[dir='rtl'] .inset6 {
  margin-right: -480px;
  margin-left: 0;
}
.inset5 {
  margin-left: -400px;
}
html[dir='rtl'] .inset5 {
  margin-right: -400px;
  margin-left: 0;
}
.inset4 {
  margin-left: -320px;
}
html[dir='rtl'] .inset4 {
  margin-right: -320px;
  margin-left: 0;
}
.inset3 {
  margin-left: -240px;
}
html[dir='rtl'] .inset3 {
  margin-right: -240px;
  margin-left: 0;
}
.inset2 {
  margin-left: -160px;
}
html[dir='rtl'] .inset2 {
  margin-right: -160px;
  margin-left: 0;
}
.inset1 {
  margin-left: -80px;
}
html[dir='rtl'] .inset1 {
  margin-right: -80px;
  margin-left: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.container-fluid:after {
  clear: both;
}
.gfont-serif {
  font-family: 'Gentium Book Basic', serif;
}
body {
  background: #f5f5f5 url(../images/backgrounds/noise.png) repeat 0 0;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  position: relative;
}
a {
  text-decoration: none;
}
.block,
.tabbable,
.accordion {
  padding: 15px;
  margin: 10px;
  position: relative;
  display: block;
}
.no-title > .header {
  display: none;
}
.title {
  margin: 0 0 7px;
  padding: 0 0 7px;
}
* html .ie6-offset {
  margin-right: -4px;
}
.master-head .btn-wrap {
  background-color: rgba(0,0,0,0.4);
  border-width: 1px;
  border-style: solid;
  border-color: transparent #ddd #ddd transparent;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-width: 300px;
}
.master-head h3 {
  font-size: 20px;
}
@media (max-width: 979px) {
  .master-head .width-block {
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .master-head h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.page-header {
  border: none;
}
.button,
.readon,
.readmore {
  display: inline-block;
  padding: 4px 14px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button a,
.button:hover,
.readon a,
.readon:hover,
.readmore a,
.readmore:hover {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
#mainbody,
#sidebar-a,
#sidebar-b {
  position: relative;
}
#sidebar-a[class*='grid'] [class*='grid'],
#sidebar-b[class*='grid'] [class*='grid'] {
  margin-left: 0;
  width: 100%;
}
#copyright .block {
  padding: 10px 15px;
  margin: 0;
}
#feature,
#maintop,
#breadcrumbs,
#main,
#main-bottom,
#bottom {
  border-top: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 -1px 1px #fff;
  -moz-box-shadow: 0 -1px 1px #fff;
  box-shadow: 0 -1px 1px #fff;
}
#absolute {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#roof {
  -webkit-box-shadow: 1px -2px 11px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: 1px -2px 11px rgba(0,0,0,0.3) inset;
  box-shadow: 1px -2px 11px rgba(0,0,0,0.3) inset;
}
#roof .widget-date,
#roof .widget-fontresizer {
  padding-top: 0;
  padding-bottom: 0;
}
#header-wrap {
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
#utility {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 0 30px rgba(0,0,0,0.075);
  background-color: #f5d4ce;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#c7d6b7),to(#f5d4ce));
  background-image: -webkit-radial-gradient(circle,#c7d6b7,#f5d4ce);
  background-image: -moz-radial-gradient(circle,#c7d6b7,#f5d4ce);
  background-image: -o-radial-gradient(circle,#c7d6b7,#f5d4ce);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,0.2), inset 0 -3px 7px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,0.2), inset 0 -3px 7px rgba(0,0,0,0.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,0.2), inset 0 -3px 7px rgba(0,0,0,0.2);
}
#sidebar-a:after,
#sidebar-b:after {
  border-style: solid;
  border-color: #d7d7d7;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#sidebar-a:after {
  border-width: 0 1px 0 0;
  -webkit-box-shadow: 1px 0 1px #fff;
  -moz-box-shadow: 1px 0 1px #fff;
  box-shadow: 1px 0 1px #fff;
}
#sidebar-b:after {
  border-width: 0 0 0 1px;
  -webkit-box-shadow: -1px 0 1px #fff;
  -moz-box-shadow: -1px 0 1px #fff;
  box-shadow: -1px 0 1px #fff;
}
#sidebar-a .block,
#sidebar-b .block {
  z-index: 10;
}
#footer-wrap {
  background: #fcfcfc;
  border-top: 1px solid #d7d7d7;
}
#copyright {
  padding-top: 15px;
  border-top: 1px solid #d7d7d7;
}
.widget-menu {
  margin: 0;
}
#menu {
  position: relative;
  z-index: 99;
  float: right;
  margin-top: 10px;
}
#menu ul.level-0 > li.mega > a.mega,
#menu ul.level-0 > li.mega > span.mega {
  padding: 0;
}
#menu ul.level-0 > li {
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#menu ul.level-0 > li.has-submenu {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#menu ul.level-0 > li > a > span.menu-title {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
#menu ul.level-0 > li.last {
  margin-right: 0;
}
#menu ul li span.menu-title,
#menu ul li span.menu-desc {
  color: #a19e9e;
}
#menu ul li:hover span.menu-title,
#menu ul li:hover span.menu-desc,
#menu ul li.active span.menu-title,
#menu ul li.active span.menu-desc {
  color: #131313;
}
#menu ul.level-0 > li:hover {
  background: #fafafa;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5), 0 -2px 2px rgba(0,0,0,0.2), 1px 0 0 #fff inset;
}
#menu ul.level-1 li.mega {
  padding: 0 5px;
}
#menu ul.level-1 li.last {
  border-bottom: 0;
}
#menu ul.level-1 > li.mega a.mega,
#menu ul.level-1 > li.mega span.mega {
  padding: 2px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#menu ul.level-1 .group-content {
  padding-bottom: 10px;
}
#menu ul.level-1 .group-content li.mega {
  border: none;
}
#menu ul.level-1 .group-content li.mega a.mega,
#menu ul.level-1 .group-content li.mega span.mega {
  padding: 4px 0;
  line-height: 18px;
}
#menu ul.level-1 li span.menu-title,
#menu ul.level-1 li span.menu-desc {
  border: 0;
  color: #222;
}
#menu ul.level-1 li a.mega:hover,
#menu ul.level-1 li span.mega:hover,
#menu ul.level-1 li.active a.mega:hover,
#menu ul.level-1 li.active span.mega:hover {
  background: #f6f7f8;
  border: 1px solid #EAEBEC;
  margin: -1px;
}
#menu li.mega .childcontent {
  border: none;
  padding: 10px 0;
  background: #fafafa;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5), -1px 0 0 #fff inset, 1px -1px 0 #fff inset;
}
#menu li.mega .childcontent .childcontent {
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#menu .childcontent-inner {
  color: #333;
  background: none;
}
#menu ul.level-1 .group-title .menu-title {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 115%;
}
#menu ul.level-1 .group-title .menu-desc {
  color: #333;
  font-size: 11px;
  padding-left: 0 !important;
}
#menu ul.level-1 li.mega .group-content > ul > li {
  margin: 0 10px;
  background: url(../images/list-bullets.png) no-repeat 0 3px;
}
#menu ul.level-1 li.mega .group-content > ul > li:hover {
  background-position: 0 -38px;
}
#menu ul.level-1 li.mega .group-content > ul > li > a:hover,
#menu ul.level-1 li.mega .group-content > ul > li > span:hover {
  background: transparent;
  margin: 0 10px;
  border: 0;
}
#menu ul.level-1 li.mega .group-content > ul > li > a > span.menu-title,
#menu ul.level-1 li.mega .group-content > ul > li > span > span.menu-title {
  color: #666;
}
#menu .block {
  padding: 0 10px;
  margin: 0;
}
.fancy {
  background: #fff;
  color: #333;
}
#mainnav ul,
#splitmenu ul {
  float: right;
  background: #fafafa;
  border: 1px solid #EAEBEC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#mainnav ul li,
#splitmenu ul li {
  border-right: 1px solid #eaebec;
}
#mainnav ul li a,
#mainnav ul li span,
#splitmenu ul li a,
#splitmenu ul li span {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
#mainnav ul li.last-item,
#splitmenu ul li.last-item {
  border-right: 0;
}
#subnav {
  background: #f6f7f8;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2), 1px 0 0 #fff inset;
}
#subnav ul li:hover > ul {
  background: #f6f7f8;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5), -1px 0 0 #fff inset, 1px -1px 0 #fff inset;
}
#subnav ul li span.menu-title,
#subnav ul li span.menu-desc {
  color: #333;
}
#subnav span.has-image {
  background: none !important;
  padding: 0;
}
#subnav span.menu-desc {
  display: none;
}
#mobile-menu {
  margin: 10px;
  text-align: center;
}
#mobile-menu select {
  margin: 0 auto;
}
#component .articles-row {
  margin-bottom: 10px;
}
#component [class*='cols'] > [class*='col-'] {
  float: left;
  padding: 0;
}
#component .cols-1 > [class*='col-'] {
  display: block;
  float: none;
  margin: 0;
}
#component .cols-2 > [class*='col-'] {
  width: 50%;
}
#component .cols-3 > [class*='col-'] {
  float: left;
  width: 33.3%;
}
#component .cols-4 > [class*='col-'] {
  width: 25%;
}
#component article {
  margin: 0 10px 20px;
}
#component .title {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
}
#component .block {
  padding-left: 5px;
  padding-right: 5px;
}
#component .article-bg {
  padding-bottom: 0;
  border: 0;
}
#component .actions {
  list-style: none;
}
#component .actions a {
  display: inline-block;
}
#component .actions img {
  display: inline-block;
}
#component .edit .formelm {
  float: left;
  width: 70%;
  margin-top: 10px;
}
#component .edit .formelm label {
  float: left;
  line-height: 22px;
  width: 110px;
}
#component .edit textarea {
  margin-top: 10px;
}
#component .edit .pull-left {
  width: 50%;
}
#component .CodeMirror-wrapping {
  box-sizing: border-box;
  margin-top: 20px;
}
#component .edit .formelm-buttons {
  margin-top: 10px;
}
#component .button2-left {
  float: left;
  margin-right: 5px;
}
#component #editor-xtd-buttons {
  margin-top: 15px;
  height: 32px;
}
#component .pagination {
  padding: 0 10px;
  background: #fff;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 0 3px #fff;
  -moz-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
  background: transparent;
  -webkit-box-shadow: 0 0 8px #d7d7d7 inset;
  -moz-box-shadow: 0 0 8px #d7d7d7 inset;
  box-shadow: 0 0 8px #d7d7d7 inset;
}
#component .pagination .title {
  color: #333;
}
#component .pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#component .pagination a,
#component .pagination span {
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#mod-finder-searchform {
  margin: 0 0;
  position: relative;
}
#mod-finder-searchform div.finder {
  margin-bottom: 0;
}
#mod-finder-searchform #mod-finder-searchword {
  background: #fbfbfb;
}
#mod-finder-searchform #mod-finder-searchword:focus {
  background: #fff;
}
#mod-finder-searchform button.btn {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
ul.breadcrumb {
  margin: 0;
}
#login-form .add-on label {
  display: none;
}
ul.menu li img {
  display: none;
}
.widget-logo {
  margin: 0;
}
#logo {
  margin: 0;
}
#logo a {
  display: block;
}
#logo .logo-tagline {
  display: block;
  font-size: 16px;
}
.widget-logo .image a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.widget-copyrightinfo,
.widget-designedby,
.widget-exposelogo {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 25px;
}
#ex-date,
#font-resizer {
  margin-top: 5px;
}
#font-resizer {
  text-align: right;
}
.designed-by a {
  background: url(../images/themexpert.png) no-repeat;
  width: 75px;
  height: 18px;
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
}
.expose-logo,
.expose-logo a {
  width: 152px;
  height: 40px;
  display: block;
}
.expose-logo-light {
  background: url(../../../libraries/expose/interface/images/expose_logo_light.png) no-repeat;
}
.expose-logo-dark {
  background: url(../../../libraries/expose/interface/images/expose_logo_dark.png) no-repeat;
}
.expose-logo span {
  display: none;
}
#poweredby {
  margin: 0 auto;
}
#scrolltop {
  background: url(../images/totop.png) no-repeat;
  display: block;
  width: 26px;
  height: 28px;
  text-indent: -9999px;
  font-size: 0px;
  margin: 30px auto 0;
}
#scrolltop:hover {
  background-position: 0 -71px;
}
.social-icons {
  list-style: none;
  margin: 0;
}
.social-icons li {
  float: left;
}
.social-icons li a {
  margin-right: 10px;
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-indent: -9999px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 1px 2px #444;
  -moz-box-shadow: inset 0 1px 2px #444;
  box-shadow: inset 0 1px 2px #444;
}
.social-icons li.twitter a {
  background: url(../images/social-icons/twitter.png) no-repeat 50% 50% #00b9f4;
}
.social-icons li.facebook a {
  background: url(../images/social-icons/facebook.png) no-repeat 50% 50% #3b5998;
}
.social-icons li.rss a {
  background: url(../images/social-icons/rss.png) no-repeat 50% 50% #d45421;
}
.white {
  color: #fff;
  text-shadow: 1px 1px 1px #444;
}
.black {
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}
.alert,
[class*="box"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box1,
.box2,
.box3 {
  background: #fff;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 0 3px #fff;
  -moz-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
}
.box1 .title,
.box2 .title,
.box3 .title {
  color: #333;
}
.box1 {
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f9f9f9));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9);
  background-image: linear-gradient(to bottom,#fff,#f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff9f9f9', GradientType=0);
}
.box1 .title {
  border-bottom: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
}
.box2 {
  background: transparent;
}
.box3 {
  background: transparent;
  -webkit-box-shadow: 0 0 8px #d7d7d7 inset;
  -moz-box-shadow: 0 0 8px #d7d7d7 inset;
  box-shadow: 0 0 8px #d7d7d7 inset;
}
.box4 {
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#3b3b3b,#2e2e2e);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#3b3b3b),to(#2e2e2e));
  background-image: -webkit-linear-gradient(top,#3b3b3b,#2e2e2e);
  background-image: -o-linear-gradient(top,#3b3b3b,#2e2e2e);
  background-image: linear-gradient(to bottom,#3b3b3b,#2e2e2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b3b3b', endColorstr='#ff2e2e2e', GradientType=0);
  color: #adadad;
  text-shadow: 0 2px 3px #000000;
}
.box4 .title {
  border-bottom: 1px solid #212121;
  -webkit-box-shadow: 0 1px 0 #4c4c4c;
  -moz-box-shadow: 0 1px 0 #4c4c4c;
  box-shadow: 0 1px 0 #4c4c4c;
}
.title {
  padding: 10px 0;
  font-size: 24px;
  line-height: 23px;
  font-family: 'Gentium Book Basic', serif;
  position: relative;
}
[class*="title"] .title {
  padding-left: 10px;
  padding-right: 10px;
}
.title1 .title {
  border-bottom: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
}
.title2 .title {
  background: #fff;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 0 3px #fff;
  -moz-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
  background: transparent;
  -webkit-box-shadow: 0 0 8px #d7d7d7 inset;
  -moz-box-shadow: 0 0 8px #d7d7d7 inset;
  box-shadow: 0 0 8px #d7d7d7 inset;
}
.title2 .title .title {
  color: #333;
}
.title3 .title {
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#3b3b3b,#2e2e2e);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#3b3b3b),to(#2e2e2e));
  background-image: -webkit-linear-gradient(top,#3b3b3b,#2e2e2e);
  background-image: -o-linear-gradient(top,#3b3b3b,#2e2e2e);
  background-image: linear-gradient(to bottom,#3b3b3b,#2e2e2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b3b3b', endColorstr='#ff2e2e2e', GradientType=0);
  color: #adadad;
  text-shadow: 0 2px 3px #000000;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.title3 .title .title {
  border-bottom: 1px solid #212121;
  -webkit-box-shadow: 0 1px 0 #4c4c4c;
  -moz-box-shadow: 0 1px 0 #4c4c4c;
  box-shadow: 0 1px 0 #4c4c4c;
}
.title4 .title:after {
  background: #fff;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 0 3px #fff;
  -moz-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
  background: transparent;
  -webkit-box-shadow: 0 0 8px #d7d7d7 inset;
  -moz-box-shadow: 0 0 8px #d7d7d7 inset;
  box-shadow: 0 0 8px #d7d7d7 inset;
  height: 6px;
  width: auto;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.title4 .title:after .title {
  color: #333;
}
[class*="box"] [class*="title"] {
  padding-left: 0;
  padding-right: 0;
}
[class*="box"] + .title2 .title,
[class*="box"] + .title3 .title {
  margin: -15px -15px 10px;
  padding: 15px;
}
.alert .title span {
  color: #4c4c4c;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -moz-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}
.collapse.in {
  height: auto;
}
.module-tabs {
  background: #fafafa;
  padding: 10px;
}
.module-tabs ul.nav-tabs {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top,#fff,#f5f5f5);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#fff,#f5f5f5);
  background-image: -o-linear-gradient(top,#fff,#f5f5f5);
  background-image: linear-gradient(to bottom,#fff,#f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #f5f5f5 #f5f5f5 #cfcfcf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border: 0;
  margin: 0;
}
.module-tabs ul.nav-tabs > li > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right: 0;
}
.module-tabs ul.nav-tabs > .active > a {
  background: #fff;
}
.module-tabs .tab {
  background: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
}
.module-tabs .tab h3,
.mainH3,
.nav-tabs a span {
  left: -99999px;
  position: absolute;
}
.tab-pane {
  padding: 0 10px 10px;
}
.accordion {
  background: #fafafa;
  padding: 10px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
}
.accordion-heading {
  border-bottom: 0;
  background: #fff;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
body.align-rtl #mainbody,
body.align-rtl #sidebar-a,
body.align-rtl #sidebar-b,
body.align-rtl [class*="grid"] {
  float: right;
}
body.align-rtl .megamenu ul.level-0 > li.mega,
body.align-rtl #mainnav li,
body.align-rtl #splitmenu li,
body.align-rtl #subnav > ul > li,
body.align-rtl #subnav .sublevel > ul > li {
  float: right;
}
body.align-rtl .menu ul li:hover ul,
body.align-rtl .menu ul li.over ul {
  right: 0;
}
body.align-rtl .menu ul li:hover li ul,
body.align-rtl .menu ul li.over li ul {
  right: -999em;
}
body.align-rtl .menu ul li li:hover ul,
body.align-rtl .menu ul li li.over ul {
  right: 13em;
}
body.align-rtl .menu ul li li li:hover ul,
body.align-rtl .menu ul li li li.over ul {
  right: 10em;
  top: 0;
}
body.align-rtl .megamenu ul.level-0 li.has-submenu a.mega span.menu-title,
body.align-rtl .megamenu ul.level-0 li.has-submenu span.mega.level-0 span.menu-title {
  padding-right: 12px;
  background-position: right center;
}
body.align-rtl .megamenu ul.level-0 li.mega .has-image {
  padding-right: 35px;
  padding-left: 0;
  background-position: 100%;
}
body.align-rtl #menu ul.level-1 li.mega .group-content > ul > li {
  background-position: 100% 3px;
}
body.align-rtl .pull-left {
  float: right;
  margin-left: 10px;
}
body.align-rtl .pull-right {
  float: left;
  margin-right: 10px;
}
body.align-rtl .align-left {
  text-align: right;
}
body.align-rtl .align-right {
  text-align: left;
}
body.align-rtl .align-center {
  text-align: center;
}
body.align-rtl .nav-list > li > a,
body.align-rtl .nav-list .nav-header {
  border-width: 0 4px 0 0;
}
body.align-rtl #mod-finder-searchform button.finder {
  left: 10px;
  right: auto;
}
.nomargin {
  margin: 0;
}
.nomargin-left {
  margin-left: 0;
}
.nomargin-right {
  margin-right: 0;
}
.nomargin-bottom {
  margin-bottom: 0;
}
.nomargin-top {
  margin-top: 0;
}
.nopadding {
  padding: 0;
}
.nopadding-left {
  padding-left: 0;
}
.nopadding-right {
  padding-right: 0;
}
.nopadding-bottom {
  padding-bottom: 0;
}
.nopadding-top {
  padding-top: 0;
}
.nostyle {
  margin: 0;
  padding: 0;
}
.nobg {
  background: transparent;
}
.pull-left {
  float: left;
  margin-right: 15px;
}
.pull-right {
  float: right;
  margin-left: 15px;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.width-block {
  float: left;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-33 {
  width: 33.333333333333336%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-75 {
  width: 75%;
}
.width-80 {
  width: 80%;
}
.font-large {
  font-size: 2em;
  line-height: 1.2em;
}
.font-xlarge {
  font-size: 4em;
  line-height: 1.4em;
}
.font-xxlarge {
  font-size: 5em;
  line-height: 1.5em;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.bs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0;
  -moz-border-radius: 4px 0;
  border-radius: 4px 0;
}
.bs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
.bs-example > p:last-child {
  margin-bottom: 0;
}
.square {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
