/*----------------------------------
        Component Area
-----------------------------------*/
#ex-main{}
#ex-component{
    .ex-article-bg{padding-bottom: 0; border: 0;}
    .ex-article-icons ul li a{
        display:inline-block;
        width:14px;
        height:14px;vertical-align:text-top;background-image:url(../images/glyphicons-halflings.png);
    }
    .print-icon a {background-position:-96px -48px;}
    .email-icon a{background-position:-72px 0;}
    .edit-icon a{background-position:-96px -72px;}
}
