/*----------------------------------
        Module Variations
-----------------------------------*/
/* Default block style */
.block{border-left: 1px solid @grayLighter; margin: 0;}
.first .block{border-left: none;}
/*Exceptions*/
#top, #header, #component, #copyright{
    .block{border: none;}
}

/*Block variations*/
.flush{

}
.box1,
.flush:hover{background: @whiteLight;}

/*Title Style*/
.title{padding: 0;font-size: 20px;line-height: 21px;}

