/*----------------------------------
        RTL
-----------------------------------*/
body.align-rtl{
    *{text-align: right}

    //reverse the grid
    #ex-mainbody, #ex-sidebar-a, #ex-sidebar-b, .grid{float: right}

    //Menu
    .ex-megamenu ul.level-0 > li.mega,
    #exdl-mainnav li,
    #ex-splitmenu li,
    #exdl-subnav > ul > li,
    #ex-subnav .sublevel > ul > li{float: right}
    .ex-menu ul li:hover ul, .ex-menu ul li.over ul{right: 0;}
    .ex-menu ul li:hover li ul, .ex-menu ul li.over li ul{right: -999em;}
    .ex-menu ul li li:hover ul, .ex-menu ul li li.over ul{right:13em;}
    .ex-menu ul li li li:hover ul,.ex-menu ul li li li.over ul {right: 10em;top:0;}
    
    .ex-megamenu ul.level-0 li.has-submenu a.mega span.menu-title,
    .ex-megamenu ul.level-0 li.has-submenu span.mega.level-0 span.menu-title {padding-right: 12px;background-position: right center;}
    .ex-megamenu ul.level-0 li.has-submenu a.mega span.menu-desc,
    .ex-megamenu ul.level-0 li.has-submenu span.mega span.menu-desc{padding-right: 12px;}
    .ex-megamenu ul.level-0 li.mega .has-image{padding-right: 35px;padding-left: 0; background-position: 100%;}
    
    //Global utility classes
    .pull-left{float:right;margin-left: 10px;}
    .pull-right{float:left;margin-right: 10px;}
    .align-left{text-align: right;}
    .align-right{text-align: left;}
    .align-center{text-align: center;}

    //Joomla default menu
    .nav-list > li > a,
    .nav-list .nav-header{ border-width: 0 4px 0 0;}
    #mod-finder-searchform button.finder{left: 10px;right: auto}
}