.clearfix,
.clear {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.clear:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  border-bottom: 5px solid #0096D2;
}
a {
  color: #0096D2;
}
a:hover {
  color: #444;
  text-decoration: none;
}
::selection {
  background: #0096D2;
  color: #fff;
}
::-moz-selection {
  background: #0096D2;
  color: #fff;
}
.colorWhite {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.button,
.readon,
.readmore,
.btn-primary {
  background: #0096D2;
  border: 1px solid #00729f;
}
.button:hover,
.readon:hover,
.readmore:hover,
.btn-primary:hover {
  background-color: #00729f;
}
#roof {
  background: url(../../images/backgrounds/noise.png) repeat 0 0 #0096D2;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#roof a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.ex-menu,
.ex-menu .dropdown {
  background-color: #0096D2;
}
#mod-finder-searchform button.finder {
  background-color: #0096D2;
}
.nav-list .active > a,
.nav-list .active:hover > a,
.nav-list > li > a:hover {
  border-color: #0096D2;
}
.title span {
  color: #0096D2;
}
