.clearfix,
.clear {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.clear:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  border-bottom: 5px solid #51a351;
}
a {
  color: #51a351;
}
a:hover {
  color: #444;
  text-decoration: none;
}
::selection {
  background: #51a351;
  color: #fff;
}
::-moz-selection {
  background: #51a351;
  color: #fff;
}
.colorWhite {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.button,
.readon,
.readmore,
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #57af57;
  background-image: -moz-linear-gradient(top,#5bb75b,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bb75b),to(#51a351));
  background-image: -webkit-linear-gradient(top,#5bb75b,#51a351);
  background-image: -o-linear-gradient(top,#5bb75b,#51a351);
  background-image: linear-gradient(to bottom,#5bb75b,#51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb75b', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border: 1px solid #5bb75b;
}
.button:hover,
.readon:hover,
.readmore:hover,
.btn-primary:hover {
  background: #56af57;
}
#roof {
  background: url(../../images/backgrounds/noise.png) repeat 0 0 #51a351;
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#roof a {
  color: #f5f5f5;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.ex-menu {
  background-color: #51a351;
}
.ex-menu .dropdown {
  background-color: #397339;
}
#mod-finder-searchform button.finder {
  background-color: #51a351;
}
.nav-list .active > a,
.nav-list .active:hover > a,
.nav-list > li > a:hover {
  border-color: #51a351;
}
.title span {
  color: #51a351;
}
